@font-face {
  font-family: 'srv-icons';
  src: url('../font/srv-icons.eot?97632541');
  src: url('../font/srv-icons.eot?97632541#iefix') format('embedded-opentype'),
       url('../font/srv-icons.woff2?97632541') format('woff2'),
       url('../font/srv-icons.woff?97632541') format('woff'),
       url('../font/srv-icons.ttf?97632541') format('truetype'),
       url('../font/srv-icons.svg?97632541#srv-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'srv-icons';
    src: url('../font/srv-icons.svg?97632541#srv-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "srv-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-caret:before { content: '\e801'; } /* '' */
.icon-checkmark:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e808'; } /* '' */
.icon-linkedin:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-status_construct:before { content: '\e80c'; } /* '' */
.icon-status_finish:before { content: '\e80d'; } /* '' */
.icon-status_plan:before { content: '\e80e'; } /* '' */
.icon-status_premarket:before { content: '\e80f'; } /* '' */
.icon-twitter:before { content: '\e810'; } /* '' */
.icon-close_big:before { content: '\e811'; } /* '' */
.icon-close_small:before { content: '\e812'; } /* '' */
.icon-menu_close:before { content: '\e813'; } /* '' */
.icon-menu_open:before { content: '\e814'; } /* '' */
.icon-car_big:before { content: '\e815'; } /* '' */
.icon-car_small:before { content: '\e816'; } /* '' */